* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrigido para 'border-box' */
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url("./img/background.png");
}

.container {
    background-color: #d1d1d1;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.task-button {
    border: none;
    border-radius: 5px;
    width: 100%; /* Faça com que seja 100% de largura */
    height: 50px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.add-task {
    border: none;
    border-radius: 5px;
    height: 45px;
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    padding: 0 18px;
    width: 100%; /* Faça com que seja 100% de largura */
    cursor: pointer;
    font-weight: 700;
}

.add-task:hover {
    opacity: 0.8;
}

.add-task:active {
    opacity: 0.6;
}

.list-task {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        max-width: 100%; /* Faça com que seja 100% de largura */
        margin: 50px auto 0;
    }
}
